<!DOCTYPE html>
<html>
<head>
    <title>Fly Away</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <img src="../static/image/—Pngtree—airplane in flight a 3d_3667149.jpg" alt="" class="image" height="800px" width="100%">
    

    <h1 class="dis">Distance Finder</h1>

    <h1 class="des">Total Distance : {{box}}</h1>
    <form action="" method="post">
        <input type="text" placeholder="Departure" name="city1" class="from">
        <input type="text" placeholder="Destination" name="city2" class="to">
        <button type="submit" class="submit">Find</button>
    </form>
</body>
</html>